In [68]:
import pandas as pd

In [69]:
df = pd.read_csv("https://raw.githubusercontent.com/theleadio/datascience_demo/master/netflix_titles.csv")
df = df[df['type'] == 'Movie']

In [70]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5377 entries, 1 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5377 non-null   object
 1   type          5377 non-null   object
 2   title         5377 non-null   object
 3   director      5214 non-null   object
 4   cast          4951 non-null   object
 5   country       5147 non-null   object
 6   date_added    5377 non-null   object
 7   release_year  5377 non-null   int64
 8   rating        5372 non-null   object
 9   duration      5377 non-null   object
 10  listed_in     5377 non-null   object
 11  description   5377 non-null   object
dtypes: int64(1), object(11)
memory usage: 546.1+ KB

In [72]:
# TF-IDF
# TF = Term Frequency
# IDF = Inverse Document Frequency = log(total number of documents/number of documents containing the term)

from sklearn.feature_extraction.text import TfidfVectorizer

tfid = TfidfVectorizer(stop_words='english')
feature = tfid.fit_transform(df['description'])

In [73]:
query = ['hero','students','action','money','crazy'] 
query_feature = tfid.transform([query[0]])

In [74]:
from sklearn.metrics.pairwise import cosine_similarity
cosims = cosine_similarity(query_feature,feature).flatten()

In [75]:
result = cosims.argsort()[-6:-1]

In [76]:
print(result)

[4383 4054 3331 5322 1630]

In [77]:
for x in result:
    print(df.iloc[x]['description'])
    print('----------------------------------------------------------------')

Worried he’s lost his artistic edge, a wealthy expat novelist returns to his backwater hometown in Argentina, where he’s regarded as a local hero.
----------------------------------------------------------------
An athlete dupes the world with his tale of miraculous recovery from cancer, becoming a sports hero and beacon of hope, but can he outpace the truth?
----------------------------------------------------------------
In the probing documentary "Party Monster," DJ Fingablast investigates what became of his childhood hero, DJ Slizzard.
----------------------------------------------------------------
An orphaned bird tags along with a flock on their long migration to Africa and becomes a hero when his newfound "family" runs into trouble.
----------------------------------------------------------------
After a vengeful college professor targets corruption in the government, he adopts the name "Gabbar" and becomes a hero to a weary public.
----------------------------------------------------------------

In [81]:
#Five Keywords

query = ['true romance','serial killer','teen psychopath','young man','copycat']

for y in query:
    query_feature = tfid.transform([y])
    cosims = cosine_similarity(query_feature,feature).flatten()
    result = cosims.argsort()[-6:-1]
    print('              ')
    print('##################################################################################')
    print(f'"{y}" Keyword in movie description')
    for x in result:
        print(df.iloc[x]['description'])
        print('----------------------------------------------------------------')

##################################################################################
"true romance" Keyword in movie description
A beautiful, wealthy woman’s insatiable appetite for romance leads to tragedy and a police investigation.
----------------------------------------------------------------
A young man struggles with his overbearing mother while looking for romance and a way to kick-start his show business career.
----------------------------------------------------------------
When his frustrated girlfriend decides to leave him, a struggling writer gets down to work on stories of romance he hopes will win her back.
----------------------------------------------------------------
In a remote area of the Canary Islands, a surfer falls off a cliff. Fighting to survive, he reflects on his life and past romance. Based on true events.
----------------------------------------------------------------
A rock musician and a law student whose true passion is music fall in love and pursue a romance that complicates both of their blossoming careers.
----------------------------------------------------------------

##################################################################################
"serial killer" Keyword in movie description
A corrupt cop and a serial killer obsessed with a psychopath from the '60s get caught up in a ruthless cat-and-mouse game in this Indian thriller.
----------------------------------------------------------------
As a visually impaired man attempts to rescue his love interest from a serial killer, the dark story behind the murderer’s disturbing psyche emerges.
----------------------------------------------------------------
Anticipating the next move in a serial killer's grisly game, a police chief realizes that his daughter and estranged wife are the next likely victims.
----------------------------------------------------------------
Connected by phone in the same home but 20 years apart, a serial killer puts another woman’s past — and life — on the line to change her own fate.
----------------------------------------------------------------
Hiding his own murderous past, a man suffering from Alzheimer's must protect his daughter from her boyfriend, who he suspects is also a serial killer.
----------------------------------------------------------------

##################################################################################
"teen psychopath" Keyword in movie description
After leaving the orphanage where he was raised, a teen searches for his family only to find work at a farm, where secrets of the past begin to surface.
----------------------------------------------------------------
After learning she's pregnant, a teen grapples with the consequences while trying to go about her life as if nothing has changed.
----------------------------------------------------------------
Menaced by a psychopath who's got the local cops scared, waitress Lillian turns to a mysterious old logger to help her turn the tables on her stalker.
----------------------------------------------------------------
While vacationing at a remote lake house, a mother and her daughters become pawns in the twisted game of an ax-wielding psychopath.
----------------------------------------------------------------
Two mischievous boys get thrust into a game of cat and mouse with a murderous psychopath after they decide to steal a police officer’s cruiser.
----------------------------------------------------------------

##################################################################################
"young man" Keyword in movie description
While serving life in prison, a young man looks back at the people, the circumstances and the system that set him on the path toward his crime.
----------------------------------------------------------------
After being violently separated from the woman he loves, a young man must disguise himself in order to keep meeting her.
----------------------------------------------------------------
A con man and a would-be filmmaking crew force themselves into the lives of two grief-scarred young women. But nothing is as it seems.
----------------------------------------------------------------
While prepping for a family wedding, a young man falls for his sister’s friend, who has already been promised to someone else.
----------------------------------------------------------------
When a late poet leaves behind his property to a young man, the man's brother suspects the poet may have been more than just a family friend.
----------------------------------------------------------------

##################################################################################
"copycat" Keyword in movie description
When an uneducated mother of eight suddenly becomes mayor, she uses the skills she's learned as a housewife to keep her town running like clockwork.
----------------------------------------------------------------
When an earthquake hits Chile, rescue workers must put aside their differences to save the country from a businessman's evil scheme.
----------------------------------------------------------------
A young woman recovering poorly from a bad romance gets a new lease on life after encountering a handsome man during a job interview.
----------------------------------------------------------------
This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.
----------------------------------------------------------------
When a doctor gets jailed for a string of shocking murders, his loyal wife sets out to commit a copycat crime to prove his innocence.
----------------------------------------------------------------